@using Orion_Books.ViewModels;
@model RegisterViewModel;

@{
	ViewData["Title"] = "Registrar Conta";
}

<link rel="stylesheet" href="~/css/registerPage.css" asp-append-version="true" />

<div class="container-blur">
    <div>
        @if (TempData["Erro"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Um Erro ocorreu!</b> - @TempData["Erro"] </span>
            </div>
        }
        <form asp-action="Register" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="title">Criar Conta</p>
            <p class="message">Crie sua Conta agora e reserve seus Livros. </p>
            <!-- Campos do Formulário -->
            <label asp-for="Email">
                <input required="" placeholder="" type="email" class="input" asp-for="Email">
                <span asp-validation-for="Email">Email</span>
            </label>
            <label asp-for="Password">
                <input asp-for="Password" required="" placeholder="" type="password" class="input">
                <span asp-validation-for="Password">Password</span>
            </label>
            <label asp-for="CheckPassword">
                <input asp-for="CheckPassword" required="" placeholder="" type="password" class="input">
                <span asp-validation-for="CheckPassword">Confirm password</span>
            </label>
            <div class="flex">
                <label asp-for="Endereco.Rua">
                    <input asp-for="Endereco.Rua" required="" placeholder="" type="text" class="input">
                    <span asp-validation-for="Endereco.Rua">Rua</span>
                </label>
                <label asp-for="Endereco.Bairro">
                    <input asp-for="Endereco.Bairro" required="" placeholder="" type="text" class="input">
                    <span asp-validation-for="Endereco.Bairro">Bairro</span>
                </label>
            </div>
            <div class="flex">
                <label asp-for="Endereco.Cidade">
                    <input asp-for="Endereco.Cidade" required="" placeholder="" type="text" class="input">
                    <span asp-validation-for="Endereco.Cidade">Cidade</span>
                </label>
                <label asp-for="Endereco.Numero">
                    <input asp-for="Endereco.Numero" required="" placeholder="" type="text" class="input">
                    <span asp-validation-for="Endereco.Numero">Número</span>
                </label>
            </div>
            <input class="submit" type="submit" value="Criar Conta" />
            <p class="signin">Já tem uma Conta? <a asp-controller="Conta" asp-action="Login">Sign in</a></p>
        </form>
    </div>
</div>


