@using Orion_Books.ViewModels;
@model RegisterViewModel;

@{
	ViewData["Title"] = "Registrar Conta";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Sign up for a new account</h4>
        </p>

        @if (TempData["Erro"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Erro"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CheckPassword" class="control-label"></label>
                        <input asp-for="CheckPassword" class="form-control" type="password" />
                        <span asp-validation-for="CheckPassword" class="text-danger"></span>
                    </div>

                    <!-- Campos para Endereco -->
                    <div class="form-group">
                        <label asp-for="Endereco.Rua" class="control-label"></label>
                        <input asp-for="Endereco.Rua" class="form-control" />
                        <span asp-validation-for="Endereco.Rua" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Endereco.Bairro" class="control-label"></label>
                        <input asp-for="Endereco.Bairro" class="form-control" />
                        <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Endereco.Cidade" class="control-label"></label>
                        <input asp-for="Endereco.Cidade" class="form-control" />
                        <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Endereco.Numero" class="control-label"></label>
                        <input asp-for="Endereco.Numero" class="form-control" />
                        <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Sign up" />
                        <a class="btn btn-outline-secondary" asp-controller="Conta" asp-action="Register">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

