@{
    ViewData["Title"] = "Home Page";
}

<!-- Landing Page -->
<div class="container-fluid position-relative bg-image text-white" style="background-image: url('https://raw.githubusercontent.com/LiamFer/ATLAS/refs/heads/main/atlas_web/src/images/home.jpg'); height: 100vh; background-size: cover; background-position: center;">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-center">
            <h5 class="text-uppercase mb-3" style="letter-spacing: 3px;">Em busca do Novo?</h5>
            <h1 class="display-1 fw-bold">TIME TO READ</h1>
            <a class="btn btn-outline-light btn-lg px-4 py-2" asp-area="" asp-controller="Livro" asp-action="Index" role="button">Nossa Biblioteca</a>
        </div>
    </div>
</div>

<hr class="featurette-divider" style="margin-bottom: 50px;">

<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Benefícios da <span class="text-muted">Leitura.</span></h2>
            <p class="lead">
                A leitura é uma prática poderosa que traz inúmeros benefícios para a vida. Aqui estão alguns deles:
                <ul>
                    <li>Expansão do Conhecimento: Através de livros e artigos, você aprende sobre novos temas e amplia sua compreensão do mundo.</li>
                    <li>Desenvolvimento da Empatia: Ler ficção ajuda a entender diferentes perspectivas e experiências, promovendo conexões mais profundas com os outros.</li>
                    <li>Redução do Estresse: Mergulhar em uma boa história pode ser uma excelente forma de relaxar e escapar das tensões do dia a dia.</li>
                    <li>Melhoria do Vocabulário: A leitura regular aprimora sua linguagem e habilidades de comunicação, tornando-o um melhor escritor e falante.</li>
                    <li>Estímulo à Criatividade: Livros inspiram a imaginação, fomentando a criatividade em diversas áreas da sua vida.</li>
                </ul>
                Incorporar a leitura ao seu cotidiano pode transformar sua mente e enriquecer sua vida de maneiras surpreendentes!
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://media1.tenor.com/m/31Y1Gw8Zd98AAAAd/anime-write.gif" alt="Imagem sobre leitura" class="img-fluid mx-auto" style="width: 100%; height: auto;">
        </div>
    </div>
</div>


<hr class="featurette-divider" style="margin-top: 50px; margin-bottom: 50px;">

<div class="container">

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-green rounded box-shadow">
        <svg clip-rule="evenodd" fill="white" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" class="mr-3" width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.6 11c0-.552-.448-1-1-1-1.655 0-4.945 0-6.6 0-.552 0-1 .448-1 1v9c0 .552.448 1 1 1h6.6c.552 0 1-.448 1-1 0-2.092 0-6.908 0-9zm9.4 6c0-.552-.448-1-1-1h-6c-.538 0-1 .477-1 1v3c0 .552.448 1 1 1h6c.552 0 1-.448 1-1zm0-13c0-.552-.448-1-1-1-1.537 0-4.463 0-6 0-.552 0-1 .448-1 1v9.6c0 .552.448 1 1 1h6c.552 0 1-.448 1-1 0-2.194 0-7.406 0-9.6zm-9.4 0c0-.552-.448-1-1-1-1.655 0-4.945 0-6.6 0-.552 0-1 .448-1 1v3.6c0 .552.448 1 1 1h6.6c.552 0 1-.448 1-1 0-1.017 0-2.583 0-3.6z" fill-rule="nonzero" /></svg>
       
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Novidades e Sugestões</h6>
            <small>Com base nos seus Interesses!</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recentemente Adicionados a Coleção</h6>
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Nome Livro</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Nome Livro</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Nome Livro</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
        <small class="d-block text-right mt-3">
            <a href="#">All updates</a>
        </small>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Sugestões de Leitura</h6>
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Full Name</strong>
                    <a href="#">Follow</a>
                </div>
                <span class="d-block">Nome Livro</span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Full Name</strong>
                    <a href="#">Follow</a>
                </div>
                <span class="d-block">Nome Livro</span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Full Name</strong>
                    <a href="#">Follow</a>
                </div>
                <span class="d-block">Nome Livro</span>
            </div>
        </div>
        <small class="d-block text-right mt-3">
            <a href="#">All suggestions</a>
        </small>
    </div>
</div>
<hr class="featurette-divider" style="margin-top: 50px; margin-bottom: 50px;">

<div class="container marketing mt-5">
    <div class="row">
        <div class="col-lg-4 d-flex flex-column align-items-center text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Heading</h2>
            <p>Conteúdo de placeholder interessante aqui.</p>
            <p><a class="btn btn-secondary" href="#">Ver detalhes &raquo;</a></p>
        </div>

        <div class="col-lg-4 d-flex flex-column align-items-center text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Heading</h2>
            <p>Conteúdo de placeholder interessante aqui.</p>
            <p><a class="btn btn-secondary" href="#">Ver detalhes &raquo;</a></p>
        </div>

        <div class="col-lg-4 d-flex flex-column align-items-center text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Heading</h2>
            <p>Conteúdo de placeholder interessante aqui.</p>
            <p><a class="btn btn-secondary" href="#">Ver detalhes &raquo;</a></p>
        </div>
    </div>
</div>

<hr class="featurette-divider" style="margin-top: 50px; margin-bottom: 50px;"> 

<style>
    .bg-image {
        background-size: cover;
        background-position: center;
    }

    .container-fluid h1, .container-fluid h5, .container-fluid p {
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }

    /* estilos do botaozinho da landing */
    .btn-outline-light {
        border: 2px solid white; 
        border-radius: 10px;
        font-weight: bold; 
        color: white;
        transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; 
    }

    .btn-outline-light:hover {
        background-color: #23c483; 
        border: 2px solid #23c483;
        color: white; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    }

    .text-white-50 {
        color: rgba(255, 255, 255, .5);
    }

    .bg-green {
        background-color: #23c483;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    .lh-100 {
        line-height: 1;
    }

    .lh-125 {
        line-height: 1.25;
    }

    .lh-150 {
        line-height: 1.5;
    }
</style>

