html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    background-color: #2c2f36;
    color: white;
    background-color: #343a40; /* Cor de fundo escura */
    color: white; /* Texto branco */
    text-align: center; /* Centraliza o conteúdo */
    padding-top: 20px; /* Espaçamento interno */
    margin-top:auto;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
    letter-spacing: 2px;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    margin-left: 1rem;
    color: #808080 !important;
    font-weight: 500;
    text-transform: uppercase;
}

    .navbar-nav .nav-link:hover {
        color: #23C483 !important;
    }


footer .container {
    padding: 1rem; /* Espaçamento interno no container */
}

footer .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Largura do botão */
    height: 40px; /* Altura do botão */
    margin: 5px; /* Espaçamento entre os botões */
    border: 1px solid #fff; /* Borda branca */
    border-radius: 50%; /* Formato circular */
    color: white; /* Cor do ícone */
    background-color: transparent; /* Fundo transparente */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Animação suave */
}

footer .btn:hover {
    border-color: #23c483;
    background-color: #23c483; /* Fundo branco no hover */
    color: white; /* Ícone escuro no hover */
}

footer .btn i {
    font-size: 16px; /* Tamanho do ícone */
}

footer .text-center {
    font-size: 14px; /* Tamanho do texto do copyright */
    background-color: rgba(0, 0, 0, 0.2); /* Fundo semitransparente */
    padding: 10px 0; /* Espaçamento */
}

footer a.text-white {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Animação suave para links */
}

    footer a.text-white:hover {
        color: #ccc; /* Cor do link ao passar o mouse */
    }