.boxPattern {
    background-image: repeating-radial-gradient( #0c0a0a 80%,#2f312f 90%,#3f4549 90%);
    background-size: 65px 65px;
    padding: 40px 0;
}

.bg-white {
    background-color: #ffffff;
}

.rounded {
    border-radius: 0.25rem;
}

.shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.infobutton {
    text-align: center;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 12px;
    border-radius: 500px;
    overflow: hidden;
    background: #BB2D3B;
    color: ghostwhite;
    text-decoration: none;
}

.infobutton span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.infobutton::before,
.infobutton::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.infobutton::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.infobutton:hover::before {
    transform: translate3d(100%, 0, 0);
}
